{% block title %}ITA - 2018{% endblock %}
{% block description %}ITA est une entreprise de construction{% endblock %}
{% block keywords %}{% endblock %}

{% extends "base.html.twig" %}

{% block body %}

    <div id="wrapper">

        <!-- header begin -->
        <header class="header-solid header-light">
            <!-- mainmenu begin -->
            {% include 'default/modules/navbar.html.twig'%}

        </header>
        <!-- header close -->

         <!-- subheader -->
        <section id="subheader" data-stellar-background-ratio=".3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="color:#981b70 !important">Présentation</h1>
                        <div class="small-border-deco"><span></span></div>
                        <ul class="crumb">
                            <li><a href="{{ path('accueil') }}">Accueil</a></li>
                            <li class="sep" style="color:#981b70 !important"></li>
                            <li style="color:#981b70 !important">A propos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content" class="no-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">

                            <div class="col-md-12">
                                <h3>A propos</h3>
                                <p style="text-align: justify;">INGENIERIE ET TRAVAUX AKOUTROU (ITA SARL) est une entreprise spécialisée dans les domaines du Bâtiment et Travaux Publics (BTP), de l’Electricité, des Télécoms, de l’Informatique et de la Sécurité électronique.

                                    Notre objectif est de fournir une expertise dans ces domaines d’activités. Nous accordons donc un grand intérêt à la qualité du travail et au respect du délai en offrant une disponibilité et un service personnalisé et sur mesure à chacun de nos clients.

                                    L’entreprise exerce aujourd’hui une présence incontestable dans les différentes activités du BTP avec un professionnalisme reconnu.

                                    Parallèlement, elle apporte des solutions innovantes et alternatives en matière de sécurité électronique,  de technologies de l’information et de la communication …

                                    Fidèle à ses valeurs (respect, confiance, ambition et innovation), en privilégiant des valeurs de références comme le sens de l'accueil, la politesse, la propreté des installations et des chantiers, la sécurité des personnes et des biens qui sont les fondements d'un véritable professionnalisme, ITA SARL est toujours plus appréciée par l'ensemble de ses partenaires : client, personnel, prestataire, riverain, …

                                    Formant une équipe soudée, structurée et professionnelle, ITA SARL a établi une culture d'entreprise et de travail qui lui est propre, où chaque travailleur trouve sa place et peut mettre à profit ses compétences.

                                    Pour consolider ses qualités et atouts, l’entreprise, en plus de son personnel qualifié et compétent, s’est dotée d’équipements adéquats et performants.

                                    N’hésitez donc pas à nous contacter car l'ensemble de nos compétences nous permet de répondre à toutes vos attentes !
                                </p>
                            </div>

                            <div class="col-md-6 col-sm-6 mb30">
                                <figure class="pic-hover hover-scale mb20">
                                    {# <span class="center-xy">
                                        <a href="service-1.html">
                                            <i class="fa fa-plus btn-action btn-action-hide"></i>
                                        </a>
                                    </span>
                                    <span class="bg-overlay"></span> #}
                                    <img src="{{ asset('bundles/images/construction_maison.jpg')}}" class="img-responsive" alt="" style="width:100%; height: 240px;">
                                </figure>
                            </div>

                            <div class="col-md-6 col-sm-6 mb30">
                                <figure class="pic-hover hover-scale mb20">
                                    {# <span class="center-xy">
                                        <a href="service-1.html">
                                            <i class="fa fa-plus btn-action btn-action-hide"></i>
                                        </a>
                                    </span>
                                    <span class="bg-overlay"></span> #}
                                    <img src="{{ asset('bundles/images/services/pic_4.jpg')}}" class="img-responsive" alt="" style="width:100%; height: 240px;">
                                </figure>
                            </div>

                        </div>
                    </div>

                    <aside id="sidebar" class="col-md-3">

                         <div class="widget">
                            <ul id="services-list">
                                <li class="active"><a href="{{ path('apropos') }}">A propos</a></li>
                                <li><a href="{{ path('notre_histoire') }}">Notre histoire</a></li>
                                <li><a href="{{ path('notre_equipe') }}">Notre équipe</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="padding30 text-black" data-bgimage="url({{ asset('bundles/images/background/banner-1.jpg') }})">
                                <h4 class="text-center">Notre catalogue</h4>
                                <p class="text-center" style="margin-bottom: 0;">Téléchargez notre catalogue.</p>
								<div class="text-center">
                                    <a href="" class="btn btn-line-black btn-fx mt20">Cliquez-ici</a>
                                </div>
                            </div>
                        </div>

                    </aside>

                </div>
            </div>

            <!-- section begin -->
            <section class="call-to-action bg-color dark pt20 pb20 mt80" data-speed="5" data-type="background">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="mt10" style="color:white !important">Vous avez besoin d'un partenaire pour un projet de construction ?</h3>
                        </div>

                        <div class="col-md-4 text-right">
                            <a href="" class="btn btn-line-black btn-fx wow fadeIn">Demander un devis</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


        </div>

    </div>
{% endblock %}
