{% block title %}ITA - 2018{% endblock %}
{% block description %}ITA est une entreprise de construction{% endblock %}
{% block keywords %}{% endblock %}

{% extends "base.html.twig" %}

{% block body %}

    <div id="wrapper">

        <!-- header begin -->
        <header class="header-solid header-light">
            <!-- mainmenu begin -->
            {% include 'default/modules/navbar.html.twig'%}

        </header>
        <!-- header close -->

         <!-- content begin -->
        <div id="content" class="no-bottom no-top">

             <!-- revolution slider begin -->
            <section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
                <div id="revolution-slider">
                    <ul>

                        <li data-transition="fade" data-slotamount="10" data-masterspeed="default" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="{{ asset('bundles/images/background/slide1.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" />

                            <div class="tp-caption very-big-white"
                                data-x="0"
                                data-y="270"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;px;s:800;e:Power3.easeInOut;"
                                data-start="700"
                                data-splitin="none"
                                data-splitout="none"
                                data-responsive_offset="on">
                                Bâtiment<span class="id-color" style="color:#adbf11">.</span>
                            </div>

                            <div class="tp-caption"
                                data-x="0"
                                data-y="330"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="y:100px;opacity:0;s:500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;s:800;e:Power3.easeInOut;"
                                data-start="1100"
                                style="font-size:15px;">
                                Etude et exécution de projets: plans, devis, calcul de structure, 
                                <br>
                                econstruction, réhabilitation
                            </div>

                            <div class="tp-caption"
                                data-x="0"
                                data-y="420"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="y:100px;opacity:0;s:500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;s:800;e:Power3.easeInOut;"
                                data-start="1200">
                                <a href="#" class="btn-slider">Nos activités
                                </a>
                            </div>
                        </li>

                        <li data-transition="fade" data-slotamount="10" data-masterspeed="default" data-thumb="">
                            <!--  BACKGROUND IMAGE -->
                            <img src="{{ asset('bundles/images/background/slide3.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" />

                            <div class="tp-caption very-big-white"
                                data-x="0"
                                data-y="270"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="x:50px;opacity:0;s:1000;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;px;s:800;e:Power3.easeInOut;"
                                data-start="700"
                                data-splitin="none"
                                data-splitout="none"
                                data-responsive_offset="on">
                                Travaux Publics<span class="id-color" style="color:#adbf11">.</span>
                            </div>

                            <div class="tp-caption"
                                data-x="0"
                                data-y="330"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="y:100px;opacity:0;s:500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;s:800;e:Power3.easeInOut;"
                                data-start="1100">
                                Etude et exécution de projets routiers : routes revêtues, routes en terre, 
                                <br>
                                réparation de dégradations, ouvrage de franchissement
                            </div>

                            <div class="tp-caption"
                                data-x="0"
                                data-y="420"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_in="y:100px;opacity:0;s:500;e:Power3.easeOut;"
                                data-transform_out="opacity:0;x:-10;s:800;e:Power3.easeInOut;"
                                data-start="1200">
                                <a href="#" class="btn-slider">Contactez nous
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
            </section>
            <!-- revolution slider close -->

            <section id="section-about" class="no-top no-bottom">
                <div class="container-fluid">
                    <div class="row-fluid table">

                        <div class="col-md-6">
                            <div class="padding35">
                                <h2 class="wow fadeInUp" style="color:#981b70">Qui sommes nous ?<span class="tiny-border" style="background-color: #981b70;"></span></h2>
                                <p class="intro">
                                 ITA SARL est une entreprise spécialisée dans les
                                 domaines du Bâtiment et Travaux Publics (BTP), de l’Electricité,
                                 des Télécoms, de l’Informatique et de la Sécurité électronique.
                                </p>
                                <div class="spacer-single"></div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-icon-simple left">
                                            <i class="icon_lightbulb_alt wow bounceIn id-color" data-wow-delay=".5s"></i>
                                            <div class="text">
                                                <h3 style="color:#981b70">Notre Vision</h3>
                                                Fidèle à ses valeurs (respect, confiance, ambition et innovation), en privilégiant des valeurs de références comme le sens de l'accueil, 
                                                la politesse, la propreté des installations et des chantiers, la sécurité...
                                                <!-- et des biens qui sont les fondements d'un véritable professionnalisme, ITA SARL est toujours plus appréciée 
                                                par l'ensemble de ses partenaires : client, personnel, prestataire, riverain, … -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="box-icon-simple left">
                                            <i class="icon_genius wow bounceIn id-color" data-wow-delay=".5s"></i>
                                            <div class="text">
                                                <h3 style="color:#981b70">Notre Object</h3>
                                                Notre objectif est de fournir une expertise dans ces domaines d’activités. 
                                                Nous accordons donc un grand intérêt à la qualité du travail et au respect du délai en offrant une disponibilité et un service personnalisé...
                                                <!-- et sur mesure à chacun de nos clients.
                                                L’entreprise exerce aujourd’hui une présence incontestable dans les différentes activités du BTP avec un professionnalisme reconnu. -->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a id="details" href="{{ path('apropos') }}" class="btn btn-line-black btn-fx pull-right wow fadeIn" data-wow-delay=".6s" style="background: #8a2174 !important;margin-top:30px">En savoir +</a>

                            </div>

                        </div>

                        <div class="col-md-6 text-light" style="background-color: #631c61 !important">

                            <div class="padding35">

                                    <h2 style="color:white !important">Nos Compétences<span class="tiny-border" style="background-color: rgb(168, 191, 41);color:black"></span></h2>

                                    <div class="skill-bar">
                                        <h3 style="color:white !important">Conseil général</h3>
                                        <div class="de-progress">
                                            <div class="progress-bar" data-value="92%" style="background-color: rgb(168, 191, 41);color:white">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>

                                    <div class="skill-bar">
                                        <h3 style="color:white !important">Gestion de la construction</h3>
                                        <div class="de-progress">
                                            <div class="progress-bar" data-value="99%" style="background-color: rgb(168, 191, 41);color:white">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>

                                    <div class="skill-bar">
                                        <h3 style="color:white !important">Conception &amp; Design</h3>
                                        <div class="de-progress">
                                            <div class="progress-bar" data-value="95%" style="background-color: rgb(168, 191, 41);color:white">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>


                                    <div class="skill-bar">
                                        <h3 style="color:white !important">Informatique & Télécom</h3>
                                        <div class="de-progress">
                                            <div class="progress-bar" data-value="89%" style="background-color: rgb(168, 191, 41);">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spacer-single"></div>


                                    <div class="skill-bar">
                                        <h3 style="color:white !important">Réseau & Maintenance</h3>
                                        <div class="de-progress">
                                            <div class="progress-bar" data-value="85%" style="background-color: rgb(168, 191, 41);">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>

                </div>
            </section>
            
            <!-- section begin -->
            <section id="section-history" class="no-top no-bottom">
                <div class="container-fluid">
                    <div class="row-fluid table" style="background-size: cover;">

                        <div class="col-md-6" data-bgimage="url({{ asset('bundles/images/background/bg-10.jpg') }})" style="background: url({{ asset('bundles/images/background/bg-10.jpg') }}) cover;">
                        </div>

                        <div class="col-md-6 text-black bg-light-60" data-bgcolor="#fffff" style="background-color: white;">

                            <div class="padding35">

                                <h2>Notre Histoire<span class="tiny-border" style="background-color: #981b70;"></span></h2>

                                <div class="timeline">
                                    <div class="tl-block wow fadeInUp" data-wow-delay="0">
                                        <div class="tl-time">
                                            <h3>2006</h3>
                                        </div>
                                        <div class="tl-bar">
                                            <div class="tl-line" style="background-color: #981b70;"></div>
                                        </div>
                                        <div class="tl-message">
                                            <div class="tl-icon">&nbsp;</div>
                                            <div class="tl-main">
                                                <h3>Démarrage des services
                                                </h3>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tl-block wow fadeInUp" data-wow-delay=".3s">
                                        <div class="tl-time">
                                            <h3>2008</h3>
                                        </div>
                                        <div class="tl-bar">
                                            <div class="tl-line" style="background-color: #981b70;"></div>
                                        </div>
                                        <div class="tl-message">
                                            <div class="tl-icon">&nbsp;</div>
                                            <div class="tl-main">
                                                <h3>Création de nouveaux départements
                                                </h3>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tl-block wow fadeInUp" data-wow-delay=".6s">
                                        <div class="tl-time">
                                            <h3>2009</h3>
                                        </div>
                                        <div class="tl-bar">
                                            <div class="tl-line" style="background-color: #981b70;"></div>
                                        </div>
                                        <div class="tl-message">
                                            <div class="tl-icon">&nbsp;</div>
                                            <div class="tl-main">
                                                <h3>Ouverture de la première succursale
                                                </h3>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="spacer-single"></div>

                                <a href="about-history.html" class="btn btn-line-white btn-fx pull-right wow fadeIn" data-wow-delay=".6s">En savoir +</a>


                                <div class="spacer-single"></div>

                            </div>

                        </div>


                    </div>

                </div>
            </section>
            <!-- section close -->
            

            <!-- section begin -->
            <section id="section-fun-facts" class="bg-color no-top no-bottom" style="background-color:#981270">
                <div class="pt20 pb20">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-4 wow fadeIn" data-wow-delay="0">
                                <div class="de_count">
                                    <h3 class="timer" data-to="8350" data-speed="2500" style="color:white !important">0</h3>
                                    <span>Heures de Travail</span>
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeIn" data-wow-delay=".25s">
                                <div class="de_count">
                                    <h3 class="timer" data-to="248" data-speed="2500" style="color:white !important">0</h3>
                                    <span>Clients Satisfaits</span>
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeIn" data-wow-delay=".5s">
                                <div class="de_count">
                                    <h3 class="timer" data-to="852" data-speed="2500" style="color:white !important">0</h3>
                                    <span>Projets Réalisés</span>
                                </div>
                            </div>

                            {# <div class="col-md-3 wow fadeIn" data-wow-delay=".75s">
                                <div class="de_count">
                                    <h3 class="timer" data-to="120" data-speed="2500">0</h3>
                                    <span>Retour Clients</span>
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            
            <!-- section begin -->
            <section id="section-about" class="no-top no-bottom" data-bgcolor="#2">
                <div class="container-fluid">
                    <div class="row-fluid table sequence">

                        <div class="col-md-4 text-middle text-light" data-bgimage="url({{ asset('bundles/images/background/bg-service-3.jpg') }})">
                            <div class="padding80">
                            </div>
                        </div>

                        <div class="col-md-4 text-middle" data-bgcolor="#f6f6f6">
                            <div class="padding60 padding-sm-30">
                                <h2 style="color: #981b70;">Planifier
                                    <span class="tiny-border" style="background-color: #981b70;"></span>
                                </h2>
                                Planifions ensemble les différentes étapes de l'évolution du projet afin qu'il cadre à vos exigences.
                            </div>
                        </div>

                        <div class="col-md-4 text-middle text-light" data-bgimage="url({{ asset('bundles/images/background/12.jpg') }})">
                            <div class="padding80">
                            </div>
                        </div>

                    </div>

                    <div class="row-fluid table">

                        <div class="col-md-4 text-middle" data-bgcolor="#f6f6f6">
                            <div class="padding60 padding-sm-30">
                                <h2 style="color: #981b70;">Imaginer
                                    <span class="tiny-border" style="background-color: #981b70;"></span>
                                </h2>
                                Imaginez, rêvez d'infrastructure modernisées et nous vous accompagnerons dans leur réalisations.
                            </div>
                        </div>

                        <div class="col-md-4 text-middle" data-bgimage="url({{ asset('bundles/images/background/pic_1.jpg') }})">
                            <div class="padding80">
                            </div>
                        </div>

                        <div class="col-md-4 text-middle" data-bgcolor="#f6f6f6">
                            <div class="padding60 padding-sm-30">
                                <h2 style="color: #981b70;">Bâtir
                                    <span class="tiny-border" style="background-color: #981b70;"></span>
                                </h2>
                                {# For the successful execution of a project, effective planning is essential. Those involved with the design and execution
                                of the infrastructure in question must consider zoning requirements. #}
                                Bâtissons ensemble des projets d'infrastructure de qualité à la hauteur de vos espérances.
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- section close -->

            <!-- section begin -->
        <section id="section-steps-2" class="no-top no-bottom text-light" data-bgimage="url({{ asset('bundles/images/bg-light-2.jpg') }})" data-stellar-background-ratio=".2">
            <div class="color-overlay pt80 pb80">
			<div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow fadeInUp" style="color: #f9f9f9 !important;">Methodologie de Travail
                            <span class="tiny-border" style="background-color: #f9f9f9 !important;"></span>
                        </h2>
                    </div>

                    <div class="col-md-12">
                        <div class="de_tab tab_steps style-2">
                            <ul class="de_nav">
                                <li class="active wow fadeInRight" data-wow-delay="0s"><span>Conception</span><div class="v-border"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay=".4s"><span>Preparation</span><div class="v-border"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay=".8s"><span>Construction</span><div class="v-border"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay="1.2s"><span>Revision</span><div class="v-border"></div>
                                </li>
                                <li class="wow fadeInRight" data-wow-delay="1.6s"><span>Finalisation</span><div class="v-border"></div>
                                </li>
                            </ul>

                            <div class="de_tab_content">

                                <div id="step1">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                                <div id="step2">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                                <div id="step3">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                                <div id="step4">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                                <div id="step5">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam.
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
			</div>
        </section>
        <!-- section close -->

            <!-- section begin -->
            <section class="call-to-action bg-color dark pt30 pb30" data-speed="5" data-type="background" style="background-color: #981b70;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3 class="mt10" style="color:white !important">Vous avez besoin d'un partenaire pour un projet de construction ?</h3>
                        </div>

                        <div class="col-md-4 text-right">
                            <a href="" class="btn btn-line-black btn-fx wow fadeIn">Demander un devis</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->


        </div>

    </div>
{% endblock %}
