{% block title %}ITA - 2018{% endblock %}
{% block description %}ITA est une entreprise de construction{% endblock %}
{% block keywords %}{% endblock %}

{% extends "base.html.twig" %}

{% block body %}

    <div id="wrapper">

        <!-- header begin -->
        <header class="header-solid header-light">
            <!-- mainmenu begin -->
            {% include 'default/modules/navbar.html.twig'%}

        </header>
        <!-- header close -->

         <!-- subheader -->
        <section id="subheader" data-stellar-background-ratio=".3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="color:#981b70 !important">Présentation</h1>
                        <div class="small-border-deco"><span></span></div>
                        <ul class="crumb">
                            <li><a href="{{ path('accueil') }}">Accueil</a></li>
                            <li class="sep" style="color:#981b70 !important"></li>
                            <li style="color:#981b70 !important">Notre histoire</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Notre histoire</h3>
                        <p class="intro mb30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                        <div class="timeline">
                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2006</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Beginning Our Services
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2008</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Offering More Services
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2009</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Opening Our First Branch Office
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2012</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Expansion and Transformations
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2014</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Offering Franchise Opportunity
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                            <div class="tl-block">
                                <div class="tl-time">
                                    <h3>2016</h3>
                                </div>
                                <div class="tl-bar">
                                    <div class="tl-line"></div>
                                </div>
                                <div class="tl-message">
                                    <div class="tl-icon">&nbsp;</div>
                                    <div class="tl-main">
                                        <h3>Consistent Innovation
                                        </h3>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <aside id="sidebar" class="col-md-3">
                        <div class="widget">
                            <ul id="services-list">
                                <li><a href="{{ path('apropos') }}">A propos</a></li>
                                <li class="active"><a href="{{ path('notre_histoire') }}">Notre histoire</a></li>
                                <li><a href="{{ path('notre_equipe') }}">Notre équipe</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="padding30 text-black" data-bgimage="url({{ asset('bundles/images/background/banner-1.jpg') }})">
                                <h4 class="text-center">Notre catalogue</h4>
                                <p class="text-center" style="margin-bottom: 0;">Téléchargez notre catalogue.</p>
								<div class="text-center">
                                    <a href="" class="btn btn-line-black btn-fx mt20">Cliquez-ici</a>
                                </div>
                            </div>
                        </div>
                    </aside>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
