{% block title %}ITA - 2018{% endblock %}
{% block description %}ITA est une entreprise de construction{% endblock %}
{% block keywords %}{% endblock %}

{% extends "base.html.twig" %}

{% block body %}

    <div id="wrapper">

        <!-- header begin -->
        <header class="header-solid header-light">
            <!-- mainmenu begin -->
            {% include 'default/modules/navbar.html.twig'%}

        </header>
        <!-- header close -->

         <!-- subheader -->
        <section id="subheader" data-stellar-background-ratio=".3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 style="color:#981b70 !important">Présentation</h1>
                        <div class="small-border-deco"><span></span></div>
                        <ul class="crumb">
                            <li><a href="{{ path('accueil') }}">Accueil</a></li>
                            <li class="sep" style="color:#981b70 !important"></li>
                            <li style="color:#981b70 !important">Notre équipe</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content">

            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>

                                    <h3>Jules Konan</h3>
                                    <span class="subtitle">Gérant</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>GBERI Aka Michèle</h3>
                                    <span class="subtitle">Sécrétaire</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Yamien Jean-Roland</h3>
                                    <span class="subtitle">Géomètre</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="spacer-single"></div>
                            <div class="spacer-half"></div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>

                                    <h3>Konan Yao Richard</h3>
                                    <span class="subtitle">Chauffeur de port-char</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Kouakou Yao Serge</h3>
                                    <span class="subtitle">Conducteur de Travaux</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Kouakou Brou David</h3>
                                    <span class="subtitle">Chef de service Télécoms</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Tuo Gnènètchomontchin Lazeni</h3>
                                    <span class="subtitle">Chef de service BTP</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									{# <br> #}
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Kobenan Kouadjo</h3>
                                    <span class="subtitle">Technicien Télécom</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>N'Gotta Kouamé Delphin</h3>
                                    <span class="subtitle">Soudeur / Technicien Télécom</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Hussein Fakih Ali</h3>
                                    <span class="subtitle">Chargé Etudes et Travaux</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Alangba Kolou Magloire</h3>
                                    <span class="subtitle">Chef chantier</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Mlle N'Guessan N'Dri Marlyse Eveline</h3>
                                    <span class="subtitle">Comptable</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Sidibe Soumaîla</h3>
                                    <span class="subtitle">Conducteur engins</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Kouadio Kouassi Jean</h3>
                                    <span class="subtitle">Chef chantier</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                             <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Kone Aïsha</h3>
                                    <span class="subtitle">Chef chantier</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                             <div class="col-md-4">
                                <div class="profile_pic">
                                    <figure class="pic-hover hover-scale mb30">
                                        <img src="{{ asset('bundles/images/team/avatar.png')}}" class="img-responsive" alt="">
                                    </figure>
                                    <h3>Brou Kadja Claude</h3>
                                    <span class="subtitle">Géomètre</span>
                                    <span class="tiny-border"></span>
                                    {# Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. #}
									<br>
                                    {# <a href="#" class="read_more mt10">read more <i class="fa fa-chevron-right id-color"></i></a> #}
                                </div>
                            </div>  

                        </div>
                    </div>


                    <aside id="sidebar" class="col-md-3">
                        <div class="widget">
                            <ul id="services-list">
                                <li><a href="{{ path('apropos') }}">A propos</a></li>
                                <li><a href="{{ path('notre_histoire') }}">Notre histoire</a></li>
                                <li class="active"><a href="{{ path('notre_equipe') }}">Notre équipe</a></li>
                            </ul>
                        </div>

                        <div class="widget">
                            <div class="padding30 text-black" data-bgimage="url({{ asset('bundles/images/background/banner-1.jpg') }})">
                                <h4 class="text-center">Notre catalogue</h4>
                                <p class="text-center" style="margin-bottom: 0;">Téléchargez notre catalogue.</p>
								<div class="text-center">
                                    <a href="" class="btn btn-line-black btn-fx mt20">Cliquez-ici</a>
                                </div>
                            </div>
                        </div>


                    </aside>

                </div>
            </div>

        </div>

    </div>
{% endblock %}
