{#
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}


#}


{% extends '::base-authentification.html.twig' %}


{% block body %}
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="container">
        <div class="text-center">
         <img src="{{ asset('apple-touch-icon.png') }}"/>
            <h1 style="margin-top:30px;"><span> Création d'un utilisateur</span></h1>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Enregistrement</h4>
            </div>
            <div class="panel-body">

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
              {#  <form class="form-horizontal m-t-20" action="http://coderthemes.com/adminto_1.4/light/index.html">#}

                    <div class="form-group ">
                        <div class="col-xs-12">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Email'}  }) }}
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username, {'attr':{'class':'form-control', 'placeholder':'Username'}  }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'Password'}  }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control', 'placeholder':'Confirmez votre passord'}  }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox checkbox-custom">
                                <input id="checkbox-signup" type="checkbox" checked="checked">
                                <label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" value="{{ 'registration.submit'|trans }}" type="submit">
                                Register
                            </button>
                        </div>
                    </div>

                {{ form_end(form) }}

            </div>
        </div>
        <!-- end card-box -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Already have account?<a href="{{ path('fos_user_security_login') }}" class="text-primary m-l-5"><b>Sign In</b></a></p>
            </div>
        </div>

    </div>


{% endblock %}