{#
{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
#}





{% extends '::base-authentification.html.twig' %}


{% block body %}

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="../index.html" class="logo"><span>Admin<span>to</span></span></a>
            <h5 class="text-muted m-t-0 font-600">Responsive Admin Dashboard</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Réenitialiser votre mot de passe</h4>
            </div>
            <div class="panel-body">

                {% trans_default_domain 'FOSUserBundle' %}

                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-horizontal m-t-20' } }) }}


                    <div class="form-group ">
                        <div class="col-xs-12">
                            {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control', 'placeholder':'Password'}  }) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control', 'placeholder':'Password confirme'}  }) }}
                        </div>
                    </div>


                    <div class="form-group text-center m-t-30">
                        <div class="col-xs-12">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit"   value="{{ 'resetting.reset.submit'|trans }}"  >Reset</button>
                        </div>
                    </div>


                {{ form_end(form) }}

            </div>
        </div>
        <!-- end card-box-->

       {# <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Don't have an account? <a href="{{ path('fos_user_registration_register') }}" class="text-primary m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>#}

    </div>
    <!-- end wrapper page -->


{% endblock %}