<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col"><span class="id-color"><i class="fa fa-map-marker"></i></span>Abidjan Cocody Danga </div>
                <div class="col"><span class="id-color"><i class="fa fa-clock-o"></i></span>Lundi - Vendredi 08:00-17:00</div>
                <div class="col"><span class="id-color"><i class="fa fa-phone"></i></span>+225 22 44 77 77</div>
                {# <div class="col">
                    <div id="lang-selector" class="dropdown">
                        <a href="#" class="btn-selector">Français</a>
                        <ul>
                            <li class="active"><a href="#">Français</a></li>
                            <li><a href="#">Français</a></li>
                            <li><a href="#">Anglais</a></li>
                        </ul>
                    </div>
                </div> #}
                
            </div>
            <div class="col-md-4 text-right">
                <!-- social icons -->
                <div class="col social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <!-- social icons close -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- logo begin -->
            <div id="logo">
                <a href="index.html">
                    <img class="logo" src="{{ asset('bundles/images/LOGO-ITA.png') }}" alt="" style="width:170px;">
                    <img class="logo-2" src="{{ asset('bundles/images/LOGO-ITA.png') }}" alt="">
                </a>
            </div>
            <!-- logo close -->

            <!-- small button begin -->
            <span id="menu-btn"></span>
            <!-- small button close -->
            <!-- mainmenu begin -->
            <nav>
                <ul id="mainmenu">
                    <li {% if page == 1 %}class="active"{% endif %}>
                        <a href="{{ path('accueil') }}">Accueil </a>
                    </li>
                    <li {% if page == 2 or page == 3 or page == 4 %}class="active"{% endif %}>
                        <a href="{{ path('apropos') }}">Présentation</a>
                        <ul>
                            <li><a href="{{ path('apropos') }}">A propos</a></li>
                            <li><a href="{{ path('notre_histoire') }}">Notre Histoire</a></li>
                            <li><a href="{{ path('notre_equipe') }}">Notre Equipe</a></li>
                        </ul>
                    </li>
                    
                    <li {% if page == 5  %}class="active"{% endif %}>
                        <a href="{{ path('nos_activites') }}">Nos activités</a>
                        {# <ul>
                            <li><a href="service-1.html">Bâtiment</a></li>
                            <li><a href="service-2.html">Travaux Publics</a></li>
                            <li><a href="service-3.html">Informatique & Télécom</a></li>
                            <li><a href="service-4.html">Electricité</a></li>
                            <li><a href="service-5.html">Sécurité électronique</a></li>
                        </ul> #}
                    </li>
                    <li {% if page == 6  %}class="active"{% endif %}>
                        <a href="{{ path('references') }}">Références</a>
                    </li>
                    <li {% if page == 7  %}class="active"{% endif %}>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
                    <!-- mainmenu close -->

    </div>
</div>